{% extends 'base.html' %}


{% block title %}
    <title>Удаление проекта</title>
{% endblock %}


{% block content %}
<a href="{% url 'home' %}">На главную</a>
<h2>Удаление проекта {{ project.title }}</h2>
<h4>Описание:</h4>
<p>{{ project.description }}</p>
<p><strong>Ментальный проект:</strong> {{ project.is_mental }}</p>
<p><strong>Физический проект:</strong> {{ project.is_physical }}</p>
<p><strong>Проект завершён:</strong> {{ project.is_done }}</p>
<br>
<h3>Вы уверены, что хотите удалить проект?</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Удалить</button>
</form>
{% endblock %}
